<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.administrator.learndemo">

    <application
        android:name=".LearnApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".aop.AopEntryActivity"></activity>
        <activity android:name=".coroutines.KotlinJobActivity" />
        <activity android:name=".webview.MultWebviewActivity" />
        <activity android:name=".algorithm.SparseArrayActivity" />
        <activity android:name=".algorithm.IlandActivity" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".coroutines.delegate.KotlinDelegateActivity" />
        <activity android:name=".coroutines.FlowActivity" />
        <activity android:name=".coroutines.XieChengActivity" />
        <activity android:name=".rxjava.ui.compose.ComposeOperatorExampleActivity" />
        <activity android:name=".rxjava.ui.search.SearchActivity" />
        <activity android:name=".rxjava.ui.pagination.PaginationActivity" />
        <activity android:name=".rxjava.ui.rxbus.RxBusActivity" />
        <activity android:name=".rxjava.ui.cache.CacheExampleActivity" />
        <activity android:name=".rxjava.ui.operator.TakeUntilExampleActivity" />
        <activity android:name=".rxjava.ui.operator.TakeWhileExampleActivity" />
        <activity android:name=".rxjava.ui.operator.SwitchMapExampleActivity" />
        <activity android:name=".rxjava.ui.operator.DelayExampleActivity" />
        <activity android:name=".rxjava.ui.operator.WindowExampleActivity" />
        <activity android:name=".rxjava.ui.operator.DebounceExampleActivity" />
        <activity android:name=".rxjava.ui.operator.ThrottleLastExampleActivity" />
        <activity android:name=".rxjava.ui.operator.ThrottleFirstExampleActivity" />
        <activity android:name=".rxjava.ui.operator.AsyncSubjectExampleActivity" />
        <activity android:name=".rxjava.ui.operator.BehaviorSubjectExampleActivity" />
        <activity android:name=".rxjava.ui.operator.PublishSubjectExampleActivity" />
        <activity android:name=".rxjava.ui.operator.ReplaySubjectExampleActivity" />
        <activity android:name=".rxjava.ui.operator.LastOperatorExampleActivity" />
        <activity android:name=".rxjava.ui.operator.DistinctExampleActivity" />
        <activity android:name=".rxjava.ui.operator.DeferExampleActivity" />
        <activity android:name=".rxjava.ui.operator.MergeExampleActivity" />
        <activity android:name=".rxjava.ui.operator.ConcatExampleActivity" />
        <activity android:name=".rxjava.ui.operator.ReplayExampleActivity" />
        <activity android:name=".rxjava.ui.operator.ScanExampleActivity" />
        <activity android:name=".rxjava.ui.operator.SkipExampleActivity" />
        <activity android:name=".rxjava.ui.operator.FilterExampleActivity" />
        <activity android:name=".rxjava.ui.operator.BufferExampleActivity" />
        <activity android:name=".rxjava.ui.operator.ReduceExampleActivity" />
        <activity android:name=".rxjava.ui.operator.FlowableExampleActivity" />
        <activity android:name=".rxjava.ui.operator.CompletableObserverExampleActivity" />
        <activity android:name=".rxjava.ui.operator.SingleObserverExampleActivity" />
        <activity android:name=".rxjava.ui.operator.IntervalExampleActivity" />
        <activity android:name=".rxjava.ui.operator.TimerExampleActivity" />
        <activity android:name=".rxjava.ui.operator.TakeExampleActivity" />
        <activity android:name=".rxjava.ui.operator.DisposableExampleActivity" />
        <activity android:name=".rxjava.ui.operator.ZipExampleActivity" />
        <activity android:name=".rxjava.ui.operator.MapExampleActivity" />
        <activity android:name=".rxjava.ui.operator.SimpleExampleActivity" />
        <activity android:name=".rxjava.ui.OperatorsActivity" />
        <activity android:name=".rxjava.RxjavaActivity" />
        <activity android:name=".jetpack.JetpackActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".kotlin.KotlinActivity" />
        <activity android:name=".dagger.DaggerTestActivity" />
        <activity android:name=".webview.WebviewCameraActivity" />
        <activity android:name=".activitymanager.TestActivity" />
        <activity android:name=".map.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".map.NewRoutePlanActivity" />
        <activity android:name=".VelocityTracker.VelocityTrackerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".mediaplayer.MediaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".view.ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".opengl.OpenGLActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".content.TestProviderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".opengl.image.ImageRenderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".camera.CameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".video.VideoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".mp4.Mp4Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".share.ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".qrcode.QRCodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".zhiwen.ZhiWenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".keystore.KeyStoreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".DaoCheActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".ImageCompressActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".StartMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewpage.change.ViewPagerActivity" />
        <activity android:name=".viewpage.tab.ViewPagerFragmentActivity" />
        <activity android:name=".algorithm.AlgorithmActivity" />
        <activity android:name=".algorithm.BroadcaseCoverActivity" />
        <activity android:name=".algorithm.WideFirstActivity" />
        <activity android:name=".algorithm.DynaicPlanActivity" />
        <activity android:name=".algorithm.AlgorithmMainActivity" />
        <activity android:name=".algorithm.Fibonacci" />
        <activity android:name=".algorithm.ArrayGrow" />
        <activity android:name=".webview.MyWebviewActivity" />
        <activity android:name=".mvvm.DataBindActivity" />
        <activity android:name=".mvvm.ImageActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="85b5ac31cd8d172ad3ea10064c78c8ea" />

        <provider
            android:name=".content.TestContentProvider"
            android:authorities="com.test.provider" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_config" />
        </provider> <!-- =================7.0上读取文件========================== -->
        <!-- 参考资料https://blog.csdn.net/lmj623565791/article/details/72859156 -->
        <!--
authorities：{app的包名}.provider
        grantUriPermissions：必须是true，表示授予 URI 临时访问权限
        exported：必须是false
        resource：中的@xml/provider_paths是我们接下来要添加的文件
        -->
        <service android:name="com.amap.api.location.APSService" />
    </application>
    <uses-feature android:name="android.hardware.camera" /> <!-- 指纹识别权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

</manifest>